/* Main Content Layout */
.content {
	padding: 20px;
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
	border: 1px solid var(--border-color);
}

button {
	background-color: var(--disabled-bg-color);
	color: var(--primary-bg-color);
	border: none;
	padding: 8px 20px;
	font-size: 14px;
	border-radius: 25px;
	cursor: pointer;
}

button:hover {
	background-color: var(--hover-bg-color);
}

.profile-container {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	font-family: Arial, sans-serif;
}

.header {
	display: flex;
	align-items: center;
	padding: 10px;
	flex-wrap: wrap;
}

.account-info {
	margin-left: 10px;
	flex: 1;
}

.account-name {
	margin: 0;
	font-size: 20px;
	font-weight: bold;
}

.post-count {
	margin: 0;
	color: gray;
}

.profile-banner {
	width: 100%;
	min-height: 200px;
	background-color: lightgray;
	background-image: url('/images/banner.jpg');
	background-position: center;
	background-size: cover;
}

.profile-details {
	display: flex;
	align-items: center;
	padding: 10px;
	position: relative;
	flex-wrap: wrap;
}

.profile-image {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-image: url('/images/profile.jpg');
	background-position: center;
	background-size: cover;
	border: 2px solid var(--primary-bg-color);
	position: absolute;
	top: -50px;
	left: 10px;
}

.action-icons {
	margin-left: auto;
	display: flex;
	gap: 10px;
}

.action-icons ul {
	display: flex;
	gap: 10px;
	list-style: none;
}

.action-icons li {
	border-radius: 50%;
	border: 1px solid var(--border-color);
	padding: 10px;
}

.follow-button {
	background-color: var(--primary-text-color);
	color: var(--secondary-bg-color);
	border: none;
	padding: 10px;
	margin-left: 5px;
	border-radius: 30px;
	font-weight: bold;
	cursor: pointer;
	align-self: center;
}

.account-details {
	padding: 10px;
	width: 100%;
}

.name {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
}

.username {
	margin: 0;
	color: gray;
}

.description {
	margin: 20px 0;
}

.join-date {
	display: flex;
	align-items: center;
	color: gray;
}

.calendar-icon {
	margin-right: 5px;
}

.follow-stats {
	display: flex;
	gap: 20px;
	margin-top: 10px;
}

.following,
.followers {
	color: gray;
}

.post-form {
	display: flex;
	align-items: flex-start;
	margin-bottom: 20px;
	padding: 10px;
	border-bottom: 1px solid var(--border-color);
}

.post-form img.avatar {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.post-form form {
	width: 100%;
}

textarea {
	width: 100%;
	height: 60px;
	padding: 10px;
	border: 1px solid var(--border-color);
	border-radius: 10px;
	font-size: 14px;
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
	resize: none;
}

#tweetButton {
	color: var(--primary-text-color);
}

/* Post Styling */
.posts .post {
	border-bottom: 1px solid var(--border-color);
	margin-bottom: 20px;
	padding-bottom: 15px;
}

.post-header {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.post-header img.avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

.post-info {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.post-info h4 {
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	color: var(--primary-text-color);
}

.post-info h4 span {
	font-size: 14px;
	font-weight: normal;
	color: var(--secondary-text-color);
}

.post-content {
	margin-bottom: 15px;
}

.post-content p {
	font-size: 16px;
	color: var(--primary-text-color);
	line-height: 1.4;
}

.post-image {
	display: flex;
	justify-content: center;
	max-width: 20rem;
	height: auto;
	border-radius: 10px;
	margin-top: 10px;
}

.post-actions {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
}

.post-actions button {
	background-color: transparent;
	border: none;
	color: var(--accent-color);
	cursor: pointer;
	font-size: 18px;
	transition: color 0.2s;
}

.post-actions button:hover {
	color: var(--hover-bg-color);
}

.post-actions button i {
	font-size: 20px;
}

.tabs {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;
	border-bottom: 1px solid var(--border-color);
}

.tabs input[type="radio"] {
	display: none;
}

.tabs label {
	padding: 10px 20px;
	cursor: pointer;
	position: relative;
}

.tabs input[type="radio"]:checked+label::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1px;
	height: 2px;
	background-color: var(--primary-text-color);
}

.form-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

.form-actions .icons i {
	margin-right: 10px;
	cursor: pointer;
	color: var(--accent-color);
}

.form-actions .icons i:hover {
	color: var(--hover-bg-color);
}

.show-posts {
	width: 100%;
	display: flex;
	justify-content: center;
	text-decoration: none;
	text-align: center;
	border: none;
	padding: 8px 20px;
	margin-bottom: 15px;
	font-size: 14px;
	border-radius: 25px;
	cursor: pointer;
	background-color: transparent;
	color: var(--accent-color);
	transition: background-color 0.3s ease, color 0.3s ease;
}

.show-posts:hover {
	background-color: var(--hover-bg-color);
	color: var(--primary-text-color);
}

@media (max-width: 768px) {
	.content {
		margin-left: 50px;
		margin-right: 50px;
	}

	.post-form {
		flex-direction: column;
		align-items: stretch;
	}

	.post-header {
		flex-direction: column;
		align-items: flex-start;
	}

	.post-header img.avatar {
		margin-bottom: 10px;
	}

	.post-info h4 {
		margin-bottom: 5px;
	}

	.book-and-share {
		display: flex;
		gap: 0;
	}

	.profile-container {
		width: 90%;
	}

	.profile-image {
		width: 80px;
		height: 80px;
	}

	.account-name {
		font-size: 18px;
	}

	.account-info {
		margin-left: 5px;
	}

	.account-details {
		padding: 8px;
	}

	.follow-button {
		width: 100%;
	}

	.action-icons ul {
		justify-content: space-between;
	}

	.follow-stats {
		gap: 16px;
	}
}
