/* Right Sidebar Styling */
.sidebar.right {
	height: auto;
	background-color: var(--primary-bg-color);
	padding: 20px;
	overflow-y: auto;
}

.sidebar.right h3 {
	font-size: 20px;
	margin-bottom: 15px;
	color: var(--primary-text-color);
}

.sidebar.right ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sidebar.right ul li {
	margin-bottom: 15px;
}

/* Search Bar Styling */
.search-bar {
	margin-bottom: 20px;
	position: relative;
	width: 400px;
}

.search-bar input {
	width: 100%;
	padding: 10px 10px 10px 40px;
	border: 1px solid (--border-color);
	background-color: transparent;
	border-radius: 20px;
	outline: none;
	color: var(--primary-text-color);
	font-size: 16px;
}

.search-bar i {
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
	color: var(--secondary-text-color);
}

/* Trending Section */

.trending .trend {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.trending .trend p {
	margin: 5px 0;
	color: var(--secondary-text-color);
	font-size: 14px;
}

.trending .trend h4 {
	margin: 5px 0;
	font-size: 16px;
	font-weight: bold;
	color: var(--primary-text-color);
}

/* Premium Subscription Card */
.premium-card {
	border: 1px solid var(--border-color);
	border-radius: 10px;
	padding: 1rem;
	margin: 10px 0;
	width: 400px;
}

.premium-card h3 {
	margin-top: 0;
	font-size: 18px;
	color: var(--primary-text-color);
}

.premium-card p {
	font-size: 14px;
	color: var(--secondary-text-color);
	margin: 10px 0;
}

.subscribe-btn {
	background-color: #1991da;
	color: var(--primary-text-color);
	border: none;
	padding: 10px 20px;
	border-radius: 20px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s;
}

.subscribe-btn:hover {
	background-color: #1991da;
}

/* Who to Follow Section */

.person-account {
	display: flex;
	align-items: center;
	gap: 10px;
}

.who-to-follow .profile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.who-to-follow .profile img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.who-to-follow .profile-info p {
	margin: 0;
	font-size: 14px;
	color: var(--primary-text-color);
}

.who-to-follow .profile-info p:last-child {
	font-size: 12px;
	color: var(--secondary-text-color);
}

.follow-btn {
	background-color: var(--primary-text-color);
	color: var(--secondary-bg-color);
	border: none;
	padding: 10px 15px;
	border-radius: 20px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s;
}

.follow-btn:hover {
	background-color: #1991da;
}

.trends,
.more-people {
	border: 1px solid var(--border-color);
	border-radius: 10px;
	padding: 1rem;
	margin: 10px 0;
	width: 400px;
}

.show-more {
	width: 100%;
	display: flex;
	justify-content: start;
	text-decoration: none;
	text-align: center;
	border: none;
	padding: 8px 5px;
	margin-bottom: 15px;
	font-size: 16px;
	border-radius: 25px;
	cursor: pointer;
	background-color: transparent;
	color: #1991da;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.show-more:hover {
	background-color: var(--hover-bg-color);
	color: var(--primary-text-color);
}

.footer-links {
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid #ccc;
	font-size: 14px;
	color: var(--border-color);
	width: 400px;
}

.footer-links ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.footer-links ul li {
	display: inline;
}

.footer-links ul li a {
	text-decoration: none;
	color: var(--border-color);
}

.footer-links ul li a:hover {
	text-decoration: underline;
}

.footer-links p {
	margin-top: 10px;
	font-size: 12px;
	color: #657786;
}
