@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

:root {
	--primary-bg-color: black;
	--secondary-bg-color: #192734;
	--border-color: #71767B;
	--primary-text-color: #ffffff;
	--secondary-text-color: #71767B;
	--accent-color: #71767B;
	--hover-bg-color: #22303c;
	--disabled-bg-color: #38444d;
	--disabled-text-color: #8899ac;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Syne", serif;
}

/* Container Styling */
.container {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: var(--primary-bg-color);
	margin-left: 5rem;
}

body {
	overflow-x: hidden;
}

body::-webkit-scrollbar:horizontal {
	display: none;
  }

/* Responsive Adjustments for Mobile Devices */
@media (max-width: 768px) {

	.container {
		margin: 0;
	}
	
	.sidebar.left,
	.sidebar.right {
		display: none;
	}

	.content {
		width: 100%;
	}

}
